/*? ==========  */
/*? beginning of basic css styles */
/*? ========== */
/** offline font links */
@font-face {
  font-family: "name";
  src: url("");
}
/*! root file */
:root {
  /** variables */
  /* main color variables */
  --main-bgc: white;
  --main-color: #443f3f;

  /* dimensions */
  --nav-height: 80px;
  --section-div-margin: 20px 50px;
  --section-div-padding: 20px;
}
/** all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** large screen=1024px (960px-1024px) */
/* body */
body {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: normal;
  background-color: var(--main-bgc);
  color: var(--main-color);
  overflow-x: hidden;
}
/* text elements */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 150%;
  text-align: center;
}
h1 {
  margin-bottom: 0.8rem;
}
h2 {
  margin-bottom: 0.75rem;
}
h3 {
  margin-bottom: 0.6rem;
}
h4,
p {
  margin-bottom: 0.5rem;
}
h5 {
  margin-bottom: 0.4rem;
}
h6 {
  margin-bottom: 0.3rem;
}
/** to ensure that when you click on an id link, the header will not cover the beginning of the content the id is pointing to */
[id] {
  scroll-margin-top: 5em;
}
/** resetting the link states to the page's main color and no decoration */
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-color);
}
/** removing the outline when inputs are on focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/** button */
button {
  cursor: pointer;
}
/** list */
ul {
  list-style: none;
  list-style-position: unset;
}
/*! ===== LARGE SCREEN FIRST RWD ===== */
/*! the ffg queries determine the font size and line height and any other basic styles of the elements in the file */
/*! the main media queries are located at the end of this file this is just the default media query styles */
/** extra-large=1440px+ */
@media screen and (max-width: 1440px) {
  /* body */
  body {
    font-size: 19px;
  }
}
/** medium=608px (608px-960px) */
@media screen and (max-width: 960px) {
  /* body */
  body {
    font-size: 17px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 140%;
  }
}
/** small=400px (400px-608px) */
@media screen and (max-width: 608px) {
  /* body */
  body {
    font-size: 16px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 130%;
  }
}
/** small=400px (400px and below) */
@media screen and (max-width: 400px) {
  /* body */
  body {
    font-size: 16px;
  }
  /* text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    line-height: 130%;
  }
}
/*? ==========  */
/*? end of basic css styles */
/*? ========== */
/** nav bar */
.nav-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  padding: 20px 50px;
  position: relative;
}
/* logo */
.nav-wrapper > .logo {
  font-weight: 700;
}
/* nav bar */
.nav-wrapper > .nav-bar {
  text-align: right;
}
/* nav bar links */
.nav-wrapper > .nav-bar > ul > li {
  display: inline;
  margin: 0 20px;
}
/* burger menu */
.burger-menu {
  display: none;
}
/** main section */
main {
  background-color: var(--main-bgc);
}
/* main section wrapper */
main > .main-wrapper {
  margin: var(--section-div-margin);
  padding: var(--section-div-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/** gallery section */
main > .main-wrapper > .gallery > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* gallery section image cntr */
main > .main-wrapper > .gallery > div > span {
  margin: 10px;
}
/* gallery section image  */
main > .main-wrapper > .gallery > div > span > img {
  width: auto;
  height: 250px;
}
/** about section */
main > .main-wrapper > .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* about user photo */
main > .main-wrapper > .about > .profile-photo > img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  padding-bottom: 1.5rem;
}
/* about user description ifo */
main > .main-wrapper > .about > .body * {
  text-align: left;
}
main > .main-wrapper > .about > .body > p {
  padding-bottom: 0.5rem;
}
/* about contact me button */
main > .main-wrapper > .about > button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: transparent;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/** contact section */
main > .main-wrapper > .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/* contact section container */
main > .main-wrapper > .contact-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* contact header description */
main > .main-wrapper > .contact-form > div > p {
  text-align: left;
  padding-bottom: 0.5rem;
}
/* contact form */
main > .main-wrapper > .contact-form > div > .form-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
/* contact form groupings */
main > .main-wrapper > .contact-form > div > .form-section > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* form input and label container */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group {
  padding: 10px;
}
/* label */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group
  > label {
  font-weight: 600;
}
/* input div */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group
  > .fcf-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
/* input */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group
  > .fcf-input-group
  > .fcf-form-control {
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin-top: 5px;
  padding: 5px 10px;
  border: solid 1px #ddd;
  outline: none;
  color: var(--main-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out;
  -moz-transition: border-color 0.15s ease-in-out;
  -ms-transition: border-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out;
}
/* input focus */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group
  > .fcf-input-group
  > .fcf-form-control:focus {
  border: 1px solid #eee;
}
/* textarea */
main
  > .main-wrapper
  > .contact-form
  > div
  > .form-section
  > form
  > .fcf-form-group
  > .fcf-input-group
  > textarea.fcf-form-control {
  height: auto;
}
/* submit button */
.fcf-btn {
  font-weight: 600;
  font-size: 1.2rem;
  background-color: transparent;
  display: block;
  width: 100%;
  border: solid 1px #ddd;
  padding: 10px;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: box-shadow 0.15s ease-in-out;
  -moz-transition: box-shadow 0.15s ease-in-out;
  -ms-transition: box-shadow 0.15s ease-in-out;
  -o-transition: box-shadow 0.15s ease-in-out;
}
/** footer */
footer > .footer-wrapper {
  background-color: var(--main-bgc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 20px 50px;
}
/* contact details */
footer > .footer-wrapper > address > span {
  margin: 0 20px;
}

/* ! ===== */
/** media queries */
/* medium=608px (608px-960px) */
@media screen and (max-width: 960px) {
  /*! root file */
  :root {
    --section-div-margin: 20px 20px;
    --section-div-padding: 20px 10px;
  }
  /* gallery images */
  main > .main-wrapper > .gallery > div > span > img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
}
/* small=600px (500px and below) */
@media screen and (max-width: 620px) {
  /*! root file */
  :root {
    --section-div-margin: 20px 20px;
    --section-div-padding: 20px 10px;
  }
  /* gallery images */
  main > .main-wrapper > .gallery > div > span > img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
}

/*! ===== */
/** burger menu */
/* medium=768px */
@media screen and (max-width: 768px) {
  /* nav bar */
  .nav-wrapper > .nav-bar {
    z-index: -1;
    position: absolute;
    top: var(--nav-height);
    left: 0;
    background-color: var(--main-bgc);
    width: 100vw;
    height: 50vh;
    text-align: center;
  }
  .nav-wrapper > .burger-menu {
    display: block;
  }
  .nav-wrapper > .burger-menu > .burger-menu-toggle > span > .close {
    display: none;
  }
  /* nav bar links */
  .nav-wrapper > .nav-bar > ul {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-wrapper > .nav-bar > ul > li > a:active {
    font-weight: bold;
  }
}

/*! ===== */
/** javascript css */
/* active state for the webpage that is currently viewed by the user */
.active {
  font-weight: 700;
}
